body {
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

h1 {
  color: white;
}

button {
  top: 50%;
  cursor: pointer;
  border: 2px white solid;
  color: white;
  font-size: 50px;
}

#addColorButton {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  background-color: transparent;
}

#addMoreColorButton {
  border-radius: 10px;
  /*position: fixed;*/
  background-color: rgba(0, 0, 0, 0.2);
}

#palette {
  display: flex;
  flex-wrap: wrap;
}

#palette > section {
  flex: 1 1 200px;
  height: 200px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}
