body {
  background-color: black;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

#palette {
  display: flex;
  flex-wrap: wrap; /* Permet aux sections de passer à la ligne suivante si nécessaire */
  width: 80%; /* Largeur du conteneur pour le rendre visible et contenu centré */
}

#palette > section {
  flex: 1 1 200px; /* Chaque section a une largeur minimale de 200px, mais s'ajustera à l'espace disponible */
  height: 200px; /* Assure que chaque section a une hauteur visible */
  background-color: white; /* Ajoute un fond pour rendre les sections visibles */
  margin-right: 10px; /* Un petit espace entre les sections */
  margin-bottom: 10px; /* Un petit espace entre les lignes */
}
