body {
  background-color: black;
  height: 100vh;
  margin: 0;

  position: relative;
  overflow: hidden;
}

h1 {
  color: white;
}

button {
  cursor: pointer;
  border: 2px white solid;
  color: white;
  font-size: 50px;
}

#addColorButton {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: transparent;
}

#addMoreColorButton {
  margin: 20px auto 0 auto;
  display: block;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.2);
}

#palette {
  display: flex;
  flex-wrap: wrap;
}

#palette > section {
  flex: 1 1 200px;
  height: 200px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  margin: 20px auto 0 auto;
  bottom: 0px;
  background-color: black;
}

p {
  background-color: black;
  font-size: 25px;
  color: white;
  padding: 10px;
}
